/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 100%;
}

/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  height: 100%;
  width: 100%;
  padding: 0;
}

nav {
  background-color: ghostwhite;
  z-index: 1;
  top: 0;
  height: 50px;
  width: 100%;
  position: fixed;
}

nav ul {
  display: inline-block;
  list-style: none;
}

nav li {
  width: 150px;
  height: 100%;
  margin: 10px;
  
  background-color: lightgray;
  text-align: center;
  border: 1px solid black;
  float: right;
}

thead, th {
  font-weight: bold;
}

#content {
  margin-top: 50px;
  height: 100%;
  width: 100%;
  padding: 0;
}

.removed {
  text-decoration: line-through;
  background-color: lightpink;
}

.new {
  background-color: lightgreen;
}

.sm-container {
  width: 400px;
  height: 400px;
  float: left;
  margin: 10px;
}

.table-responsive {
  clear: both;
}