/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 100%;
}

/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
}

thead, th {
  font-weight: bold;
}

#content {
  height: calc(100% - 56px);
  width: 100%;
  padding: 0;
}

.removed {
  text-decoration: line-through;
  background-color: lightpink;
}

.new {
  background-color: lightgreen;
}

.sm-container {
  width: 400px;
  height: 400px;
  float: left;
  margin: 10px;
}

.table-responsive {
  clear: both;
}