<!doctype html>
<html>

<head>
  <title>STL Dollar House - {% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="https://meyerweb.com/eric/tools/css/reset/reset.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset='utf-8'>
</head>

<body>
  <nav>
    <ul>
      <a href='/property-list'><li>List</li></a>
      <a href='/'><li>Map</li></a>
    </ul>
    <h1>
      STL Dollar House Project
    </h1>
  </nav>
  {% block content %}{% endblock %}
</body>

</html>