{% extends 'base.html' %}
{% block title %}Map{% endblock %}
{% block content %}
<div id="content">
  <div id='map'>
  </div>
</div>
<script>
  // initialize map with markers
  var map;
  function initMap() {
  map = new google.maps.Map(document.getElementById('map'), {
    center: {
      lat: 38.6272700,
      lng: -90.1978900
    },
    zoom: 10
  });
  var bounds = new google.maps.LatLngBounds();
  {% for prop in properties %}
    var parcelID = '{{ prop['ParcelID'] }}';
    var address = '{{ prop['Address'] }}';
    var Lat = '{{ prop['Latitude'] }}';
    var Lng = '{{ prop['Longitude'] }}';
    var latLng = new google.maps.LatLng(Lat, Lng);
    var marker = new google.maps.Marker({
      position: latLng,
      map: map,
      title: address
    });
    bounds.extend(latLng);
    var content = '<strong><a href="/property/' + parcelID + '">' + address + '</a></strong><br><img src="https://maps.googleapis.com/maps/api/streetview?size=400x400&key={{gkey}}&location=' + Lat + ',' + Lng + '">';
    var infowindow = new google.maps.InfoWindow();
    google.maps.event.addListener(marker,'click',(function(marker,content,infowindow){
      return function() {
        infowindow.setContent(content);
        infowindow.open(map,marker);
      };
    })(marker,content,infowindow));
  {% endfor %}
  map.fitBounds(bounds);
  map.setCenter(bounds.getCenter());
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key={{gkey}}&callback=initMap" async defer></script>
{% endblock %}