{% extends 'base.html' %}

{% block title %}Property List{% endblock %}

{% block content %}
<div class="table-responsive">
  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        {% for column in columns %}
          <th scope="col">{{ column }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
    {% for prop in properties %}
      {% if prop['DateRemoved'] != '' %}
      <tr style="text-decoration: line-through;">
      {% else %}
      <tr>
      {% endif %}
      {% for column in columns %}
        {% if column == 'ParcelID' %}
        <td><a href="property/{{prop['ParcelID']}}">{{prop[column]}}</a></td>
        {% else %}
        <td>{{prop[column]}}</td>
        {% endif %}
        {% endfor %}
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}